#connect {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fce623bf;
    border: none;
    width: 100px;
    height: 50px;
    cursor: pointer;
    z-index: 1000000;
}

#arm-cursor {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    /*background-color: #d00d4fd6;*/
    /*background-color: #d00d4f4f;*/
    background-color: #000d4f56;
    z-index: 10000000;
    z-index: 100;
}

.bulls-eye {
    position: relative;
    /* background-color: #2196f3b8; */
    background-color: white;
    z-index: 10000000;
    border-radius: 30px;
    width: 0px; 
    height: 0px; 
    left: 15px; 
    top: 15px;
}

.markerDot {
    position: absolute;
    /* background-color: #2196f3b8; */
    background-color: white;
    z-index: 10000000;
    /*border-radius: 30px;*/
    width: 2px; 
    height: 2px; 
    left: 14px; 
    top: 14px;
}


* { 
        /*cursor: none; */
        box-sizing: border-box;


    } 