h1{
	text-align: center;
	color: black;
	font-size: 36px;
}

body {
	background-color: grey;
	/*background-image: url(../BG.png);*/
	/*width:100%;
	height:50%;*/
	/*font-style: italic;*/
}

* {
	box-sizing: border-box;
}


.calibrationoff {
 display: none;
}

#button0 {
	display: none;
}

.calibrationon {
text-align: left;
margin-left: auto;
margin-right: auto;

}
/*@media (min-width: 992px)
{*/
/*.dish {
	font-size: 24px;
	text-align: center;
	background-color: black;
	width:70%;
	position: absolute;
	margin: 0px;
	padding: 0px;
	right: 0px;
	border: solid;
	border-color: black;
 	border-width: 1px;
}*/
/*
p {

  float: right;
}*/

#pausebutton{
	position: absolute;
	right: 0px;
	bottom:0px;
}

.button{
	/*font-size: 18px;
	background-color:grey;
	border: 10px;
	border-color: red;
	padding-top: 80px;*/
	/*width: 245px;
    height: 245px;*/
 /*   border-radius: 60px;
    position: center;*/
    background-color:green;
    border-radius: 50%;
    border: none;
    /*vertical-align: middle;*/
    /*position: relative;
    top: 50%;*/
   /* margin-top: 57.5px;*/
    /*margin-bottom: auto;*/
    
    margin-left: auto;
  	margin-right: auto;
	outline:none;    

}

.practicebutton {
    background-color:green;
    border: none;
	outline:none;    
	display: none;
	width:100px;
	height:100px;
	position: absolute;
}

#button2 {
top: 0px;
left: 0px;
/*float:right;*/
 border-radius: 50%;
}

#button3 {
top: 0px;
left: 540px;
background-color:white;
opacity: 0.1;
 border-radius: 50%;
}

body>div {
 /*width: 628px;
 height:356px;*/
 width: 640px;
 height:360px;
 
 background-color:grey;
 color: white;
 /*text-align: center;*/
 float: left;
 /*margin-left: 0%;
 margin-bottom: 0%;*/
 /*padding:0px;
 position: relative;*/
 border: solid;
 border-color: black;
 border-width: 1px;
 position: relative;
 margin:0px;

 



}

.formTitles{
	color:black;
	font-size: 120%;
}

html { 
    width: 100%; 
    min-height: 100%; 
} 
 
body { 
    width: 1920px; 
    height: 1080px;
    min-height: inherit; 
    margin: 0; 
    padding: 0; 
} 

/*
h1 {
 width: 50%;
 text-align: center;
 border: 10px;
 color: white;
 border-color: red;
 margin-left: 25%;
 padding:5px;
 position: relative;
 alignment-baseline: central;
}*/
/*}

/*@media (min-width: 768px) and (max-width: 991px)
{
.dish {
	font-size: 24px;
	text-align: center;
	background-color: black;
	width:70%;
	position: absolute;
	margin: 0px;
	padding: 0px;
	right: 0px;
	border: solid;
	border-color: black;
 	border-width: 1px;


}

.description{
	font-size: 18px;
	background-color:grey;
	border: 10px;
	border-color: red;
	padding-top: 40px;
}

body>div {
 width: 33%;
 background-color:grey;
 color: white;
 text-align: center;
 border: 10px;
 border-color: red;
 float: left;
 margin-left: 11%;
 padding:0px;
 position: relative;
 border: solid;
 border-color: black;
 border-width: 1px;
}

#hijack {
 width: 78%;
 background-color:grey;
 color: white;
 text-align: center;
 border: 10px;
 border-color: red;
 float: left;
 margin-top: 80px;
 margin-left: 11%;
 padding:0px;
 position: relative;
 border: solid;
  border-color: black;
 border-width: 1px;
}

h1 {
 width: 50%;
 text-align: center;
 border: 10px;
 color: white;
 border-color: red;
 margin-left: 25%;
 padding:5px;
 position: relative;
 alignment-baseline: central;
}

}





@media (max-width: 767px)
{
.dish {
	font-size: 24px;
	text-align: center;
	background-color: black;
	width:70%;
	position: absolute;
	margin: 0px;
	padding: 5px;
	right: 0px;
	border: solid;
	border-color: black;
 	border-width: 1px;

}

.description{
	font-size: 18px;
	background-color:grey;
	border: 10px;
	border-color: red;
	padding-top: 60px;
}

body>div {
 width: 50%;
 background-color:grey;
 color: white;
 text-align: center;
 border: 10px;
 border-color: red;
 margin-left: 25%;
 margin-bottom: 5%;
 padding:0px;
 position: relative;
 alignment-baseline: central;
 border: solid;
 border-color: black;
 border-width: 1px;

}

h1 {
 width: 50%;
 text-align: center;
 border: 10px;
 color: white;
 border-color: red;
 margin-left: 25%;
 padding:5px;
 position: relative;
 alignment-baseline: central;
}

}

#a{
	background-color: 000000;
}

#b{
	background-color: green;
}

#c{
	background-color: red;
}*/